@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

:root {
  --r-heading-color: #d0e80b;
  --r-heading-font: "Open Sans", sans-serif;
  --r-heading1-size: 60px;
  --r-heading2-size: 30px;
  --r-heading3-size: 30px;
  --r-heading4-size: 30px;
  --r-heading5-size: 30px;
  --r-heading6-size: 30px;
  --r-main-font: "Open Sans", sans-serif;
  --r-main-color: #f2f2f2;
}

pre code {
  background-color: #333;
  box-shadow: 0px 0px 10px 5px #000;
}
